bitrix/app
!bitrix/app/.gitkeep
bitrix/www
!bitrix/www/.gitkeep
bitrix/mysql
!bitrix/mysql/.gitkeep
bitrix/logs
!bitrix/logs/.gitkeep
bitrix/backup
!bitrix/backup/.gitkeep
docker-bitrix-new.zip
bitrix-base-new
tmp.Dockerfile
docker-bitrix-new
.env copy
!*/.gitkeep
bitrix-base-new-backup*
bitrix-base-new-mysql-backup*