!bitrix/apache
bitrix/app/*
bitrix/backup/*
!bitrix/bitrix-set
!bitrix/cron
bitrix/logs/*
bitrix/mysql/*
!bitrix/nginx-config
!bitrix/php
!bitrix/push-config
!bitrix/smb
!bitrix/supervisor
bitrix/www
!bitrix/app/.gitkeep
!bitrix/www/.gitkeep
!bitrix/mysql/.gitkeep
!bitrix/logs/.gitkeep
!bitrix/backup/.gitkeep
docker-bitrix-new.zip
bitrix-base-new
tmp.Dockerfile
docker-bitrix-new
.env copy
!**/.gitkeep
bitrix-base-new-backup*
bitrix-base-new-mysql-backup*
*.zip
*.7z
*.gz
bitrix/ssl
!bitrix/ssl/.gitkeep
.vscode/sftp.json
